DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET_BASE64=

VERIFICATION_CODE_PEPPER_BASE64=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_ISSUER=

PASSWORD_BCRYPT_STRENGTH=

SMS_PROVIDER=
SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_SENDER_NUMBER=
